[submodule "pico-fido"]
	path = pico-fido
	url = ../pico-fido.git
	branch = fido-update-to-7.2---13.01.2026
[submodule "pico-openpgp"]
	path = pico-openpgp
	url = ../pico-openpgp.git
	branch = opgp-update-to-7.2---13.01.2026
[submodule "pico-keys-sdk"]
	path = pico-keys-sdk
	url = ../pico-keys-sdk.git
	branch = pico-key-sdk-update---13.01.2026
